<a href="{{ article.url }}" class="blog-card{{ not article.media.images|first ? ' blog-card--no-image' : '' }}">
    {% set image = article.media.images|first %}
    {% if image %}
        <div class="blog-card-image">
            <img src="{{ image.cropZoom(600, 340).url }}" alt="" loading="lazy">
        </div>
    {% endif %}
    <div class="blog-card-content">
        <div class="blog-card-meta">
            {% if article.taxonomy.tag|first %}
                <span class="tag"><span class="tag-text">{{ article.taxonomy.tag|first }}</span></span>
            {% endif %}
            {% if article.date %}
                <time class="blog-card-date" datetime="{{ article.date|date('Y-m-d') }}">{{ article.date|date('d/m/Y') }}</time>
            {% endif %}
        </div>
        <div class="blog-card-body">
            <h3 class="blog-card-title">{{ article.title|french_typo }}</h3>
            {% if article.summary != article.content %}
                <p class="blog-card-excerpt">{{ article.summary|striptags|truncate(150)|raw }}</p>
            {% endif %}
        </div>
    </div>
</a>
