<div class="service-item service-item--{{ index }}" data-service>
    <div class="service-item-inner">
        <div class="service-item-heading">
            <i class="fa {{ icon }}"></i>
            <h2 class="h3">{{ title|french_typo }}</h2>
        </div>
        <div class="service-item-content">
            <span class="service-item-subtitle">{{ subtitle }}</span>
            <div class="service-item-description" data-service-description>
                <p>{{ description|french_typo }}</p>
            </div>
        </div>
        <div class="service-item-action">
            <a href="{{ url }}" class="btn btn-secondary">En savoir plus</a>
        </div>
    </div>
</div>
