{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.addJs('theme://js/toc.js', {group: 'bottom', defer: null}) %}
{% endblock %}

{% block content %}
    <div class="default-content">
        {% include 'partials/components/breadcrumb.html.twig' %}

        <article class="blog-detail content-layout">
            <aside class="content-layout-toc"></aside>
            <div class="content-layout-main">
                <header class="blog-detail-header">
                    {% if page.header.taxonomy.tag %}
                        <div class="blog-detail-tags">
                            {% for tag in page.header.taxonomy.tag %}
                                <span class="tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <h1>{{ page.title }}</h1>

                    {% if page.date %}
                        <time class="blog-detail-date" datetime="{{ page.date|date('Y-m-d') }}">{{ page.date|date('d/m/Y') }}</time>
                    {% endif %}
                </header>

                <div class="prose" data-toc-content>
                    {{ page.content|raw }}
                </div>

                <div class="blog-detail-actions">
                    {% if not page.isLast %}
                        <a href="{{ page.prevSibling.url }}" class="btn btn-secondary btn-no-arrow"><i class="la la-arrow-left"></i> Article precedent</a>
                    {% endif %}
                    <a href="/blog" class="btn btn-secondary btn-no-arrow">Tous les articles</a>
                    {% if not page.isFirst %}
                        <a href="{{ page.nextSibling.url }}" class="btn btn-secondary btn-no-arrow">Article suivant <i class="la la-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </article>
    </div>
{% endblock %}
